body{
    /* background: linear-gradient(to right, #6d7279, #00c8ffb6, #2a67c1); */

}
.hero {
      position: relative;
      background: url('https://via.placeholder.com/1200x500') center/cover no-repeat;
      height: 350px;
      color: white;
      display: flex;
      align-items: flex-end;
      padding: 20px;
    }
    .hero h2 {
      background-color: rgba(0,0,0,0.6);
      padding: 10px;
      border-radius: 5px;
    }

    .c-h{
        height: 300px;
    }
    .card-img-size{
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
      border-radius: 40px;
      
      
    }

    .c-style{
    min-width: 200px;
    max-width: 500px;
    padding: 10px;
    margin: 10px;
    border: 4px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 10px grey;
}

.s-crousal{
  height: 300px;
  border-radius: 80px;
  box-shadow: 5px 5px 5px 5px gray;
}
    